.titulo {
  border-radius: 50px;
  margin-top: 3rem;
  background-color: aquamarine;
  padding: 1rem;
}

.formulario {
  margin-top: 3rem;
}

.letra_validacion {
  font-size: 0.8rem;
}

.footer {
  margin-top: auto;
  background-color: aquamarine;
  padding: 1.5rem;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.img-redes {
  width: 24px;
  margin-left: 1.5rem;
}
